.tab-room-villa li span{
	font-size: 14px;
	color: #888888;
	margin-top: 10px;
	display: inline-block;
}
.exp .row-1, .promo .row-1{
	font-size: 22px;
	color: #5d8f8f;
}
.promo .btn-room{
	width: 176px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #fff;
	background: #5a8d8d;
	text-decoration: non;
}
.promo .btn-room:hover{
	text-decoration: none;
	opacity: 0.8;
}
.location-slide .item .text{
	position: absolute;
	text-shadow: 1px 1px #000;
	width: 80%;
	text-align: center;
	color: #fff;
	font-size: 15.5px;
	top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
}
.location-slide .item .text .location{
	border: 1px solid #fff;
	padding: 5px 20px;
	font-size: 22px;
	text-transform: uppercase;
	display: inline-block;
}
.location-slide .item .text .read-more{
	color: #fff;
	text-decoration-color: #fff;
	display: inline-block;
}
#carousel-3 .item:after{
	width: 100%;
    height: 100%;
    content: '';
    display: inline-block;
    background: rgba(96,84,76,0.35);
    opacity: 0.35;
    position: absolute;
    top: 0;
}
@media(max-width: 767px){
	.location-slide .item .text{
		position: initial;
		transform: none;
		width: 100%;
	    text-align: left;
		text-shadow: none;
	color: #000;
	padding: 0 4rem;
	    box-sizing: border-box;
	    display: inline-block;
	}
	.location-slide .item .text .location{
		border: none;
		color: #5a8d8d;
		text-transform: none;
		padding: 0;
		margin-top: 30px;
	}
	.location-slide .item .text .read-more{
		color: #888888;
    text-decoration: underline;
    cursor: pointer;
	}
	header .carousel-inner .item .content-item{
		width: 100%;
	}
	#carousel-3 .item:after{
		display: none;
	}
	.swiper-pagination1 li a{
		display: inline-block;
		padding: 8px 1rem !important;
	}
}

@media screen and (min-device-width: 768px){
	/*.promo .row-2{
		min-height: 100px;
	}*/
}